*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*obj_*
.waf*
.lock-waf*
__pycache__
*.pyc
.vs/
**/Debug/
**/Debug_*/
**/Release/
**/Release_*/
**/.DS_Store
*.tlog/
*.obj
*.pch
*.log
*.idb
*.pdb
*.rc
*.bin
*.dll*
*.exp
*.ilk
